/* Add here all your CSS customizations */
.bxProdutoSelecionado {
  background: rgba(0,0,0,0.8);
  display: flex;
  height: 100%;              
  position: absolute;
  z-index: 99;
  width: 100%;
  justify-content: center;
  padding-top: 5em;
}

.labelProdutoSelecionado {
  background: wheat;
  padding: 7px;
  border-radius: 6px;
  color: #e72e6d;
  font-weight: bold;
}

.bxSelecionarProduto {
  font-size: 11 !important;
  cursor: pointer;
  color: #f3868f;
  font-weight: bold;
}